:root {
    --main-color: #fff;
    --secondary-color: #000;
    --text-color: #202020;
    --blueish-color: #7070ff;
    
    --marquee-width: 80vw;
    --marquee-height: 15vh;
    --marquee-display-num: 5;
    --marquee-elm-width: calc(var(--marquee-width) / var(--marquee-display-num));
    --marquee-duration-animation: calc(var(--marquee-elms) * 3s);
}

[data-theme="dark"] {
    --main-color: #000;
    --secondary-color: #fff;
    --text-color: #ffffff;
    --blueish-color: #7070ff;
}